* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', sans-serif;
    background-color: dark;
    color: #333;
    line-height: 1.6;
    padding: 0;
}

/* setting background image: use background size(cover) and background position(center bottom)*/
header {
    background-image: url('../images/puffpuffbackground2.jpg');
    background-size: cover;
    background-position: center bottom;
    color: #eee;
    text-align: center;
    padding: 3rem 1rem;
}

header h1 {
    font-family: "rosalind", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 100px;
    letter-spacing: -1px;

}

em {
    font-style: normal;
    font-weight: 600;
}

.tk-rosalind {
    font-family: "rosalind", sans-serif;
}

s header .subtitle {
    font-weight: 400;
    margin-top: 0.5rem;
    color: black;
}


.recipeinfocontainer {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 1.5rem;
    max-width: 1100px;
    margin: 0 auto;
}

.ingredients .info {
    background-color: #fafdf3;
    padding: 1.5rem;
    border-radius: 12px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
}

.prepinfo h3 {
    color: #983628;
    margin-top: 1rem;
    font-size: 1.1rem;
}

.ingredients ul {
    margin-left: 1.2rem;
    margin-bottom: 1rem;
}

.instructions {
    background-color: #fafdf3;
    padding: 1.5rem;
    border-radius: 12px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
}

.instructions h3 {
    color: #983628;
    margin-bottom: 1rem;
}

.instructions ol {
    margin-left: 1.2rem;
}

.instructions li {
    margin-bottom: 1rem;
}

.instructions img {
    width: 100%;
    max-width: 350px;
    height: auto;
    aspect-ratio: 4 / 3;
    object-fit: cover;

    margin-top: 0.5rem;
    border-radius: 10px;
    display: block;
}


footer {
    text-align: center;
    padding: 2rem 1rem;
    background-color: #222;
    color: #eee;
    font-size: 0.9rem;
}

footer a {
    color: #f5a623;
    text-decoration: underline;
}

@media (min-width: 768px) {
    .recipeinfocontainer {
        flex-direction: row;
        align-items: flex-start;
    }

    .ingredients {
        flex: 1;
        position: sticky;
        top: 1rem;
    }

    .instructions {
        flex: 2;
    }

}

@media (max-width: 600px) {
    .hide-on-mobile {
        display: none;
    }

    body {
        font-size: 0.95rem;
    }

    .ingredients,
    .instructions {
        padding: 1rem;
    }

    footer {
        font-size: 0.8rem;
    }

    header {
        background-image: none;
        margin-top: 1rem;
        margin-bottom: 1rem;
        padding-bottom: 0;

    }

    header h1 {
        color: #983628;
        font-size: 70px;
    }

}