html {
    scroll-behavior: smooth;
    margin: 0;
}

body {
    background-color: #e5c95c;
}

html,
body {
    margin: 0;
    padding: 0;
}

header {
    text-align: center;
    margin-bottom: 32px;
    background-color: #fb6334;
    padding: 30px 0;
    animation: float 3s ease-in-out infinite;

}

@keyframes float {
    0% {
        transform: translatey(0px);
    }

    50% {
        transform: translatey(-20px);
    }

    100% {
        transform: translatey(0px);
    }
}

h1 {
    font-family: "carilliantine", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #f3ebdb;
    font-size: 10rem;
    margin-bottom: 10px;

}

h2,
h3 {
    font-family: "futura-100", sans-serif;
    font-weight: 300;
    font-style: normal;
    color: #222c27;
    font-style: italic;


}

h3 {
    color: #fb6334;
}

a {
    text-decoration: none;
}

div {
    background-color: #f3ebdb;
    border-radius: 8px;
    border: 2px solid #222c27;
    padding: 16px;
    margin: 16px 0;
    width: 300px;
    min-height: 350px;
    /* adjust as needed */

}

div:hover {
    background-color: #222c27;
    cursor: pointer;
    transform: translateY(-5px);
    transition: transform 0.2s ease-in-out;
}

div:hover h2,
div:hover h3 {
    color: #f3ebdb;
}

section {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    justify-content: center;
    padding: 24px;
}

img {
    border-radius: 8px;
    width: 100%;
    height: 200px;
    object-fit: cover;
}

footer {
    text-align: center;
    padding: 16px;
    color: #222c27;
    font-family: "futura-100", sans-serif;
}

@media (max-width: 600px) {
    h1 {
        font-size: 5rem;
    }
}