/* header  */
header{
    margin-bottom: 3rem;
}
/* paragraph */
p{
    line-height: 1.6;
}
/* see all */
.see-all{
    font-size: 0.8em;
    text-transform: uppercase;
}
/* show titles */
.shows h1{
font-size: 2.5rem;
}

.shows h2 {
    text-transform: uppercase;
    font-size: 1rem;
}  

.shows h1, .shows h2{
    font-weight: 200;
}

.cast img{
    width: 100%;
}
.cast li{
    width:25%;
}
/* adding divider before show */
.shows h1::before {
/* have to give it content to render */
content: "";              
display: block;  
margin-bottom: 0.5em;   
border: 1px solid black;
}

.selected > a{
    font-weight: bold;
    color: black; 
}

.cast div{
    font-size: 0.8rem;
}

.cast div:first-of-type{
}

.cast div:last-of-type{
    font-style: italic;
}

#game-of-thrones .seasons li:last-child::after{
    content: "*";
}
#game-of-thrones .seasons ul::after{
    content: "* Final Season";
     font-size: 0.7rem;
     color: #999;
     /* puts element on its own line */
     display: block; 
}